{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

<ul>
    <li><a href="/event/"><button type="button" class="btn btn-primary">Events</button></a></li>
    <li><a href="/tag/"><button type="button" class="btn btn-primary">Tags</button></a></li>
    <li><a href="/database.sqlite"><button type="button" class="btn btn-primary">Download SQLite database of all data</button></a></li>
</ul>

{% endblock %}

