{% extends "base.html" %}

{% block title %}Edit Event {{ event.title }}{% endblock %}


{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/event/">Events</a></li>
        <li class="breadcrumb-item"><a href="/event/{{ event.id }}">Event</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

<h2>Edit Event</h2>

<form id="edit-form" class="user-form">

    <table class="table">
        <tr>
            <th>Id</th>
            <td>{{ event.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td><input type="text" name="title" value="{{ event.title }}"></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><textarea name="description">{{ event.description }}</textarea></td>
        </tr>
        <tr>
            <th>URL</th>
            <td><input type="text" name="url" value="{{ event.url }}"></td>
        </tr>
        <tr>
            <th>Start</th>
            <td>
                <input type="date" name="start-date" value="{{ event.get_start_strftime("%Y-%m-%d")  }}">
                <select name="start-time-hour">
                    {% for row in range(0,24) %}
                        <option value="{{ row }}" {% if event.start_hour == row %}selected{% endif %}>{{ row }}</option>
                    {% endfor %}
                </select>:
                <select name="start-time-minute">
                    {% for row in range(0,60) %}
                        <option value="{{ row }}" {% if event.start_min == row %}selected{% endif %}>{{ row }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>End</th>
            <td>
                <input type="date" name="end-date" value="{{ event.get_end_strftime("%Y-%m-%d")  }}">
                <select name="end-time-hour">
                    {% for row in range(0,24) %}
                        <option value="{{ row }}" {% if event.end_hour == row %}selected{% endif %}>{{ row }}</option>
                    {% endfor %}
                </select>:
                <select name="end-time-minute">
                    {% for row in range(0,60) %}
                        <option value="{{ row }}" {% if event.end_min == row %}selected{% endif %}>{{ row }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>Cancelled</th>
            <td>
                <label>
                    <input type="checkbox" name="cancelled" {% if event.cancelled %}checked{% endif %}> Cancelled
                </label>
            </td>
        </tr>
        <tr>
            <th>Deleted</th>
            <td>
                <label>
                    <input type="checkbox" name="deleted" {% if event.deleted %}checked{% endif %}> Deleted
                </label>
            </td>
        </tr>
        <tr>
            <th>Tags</th>
            <td>
                <ul>
                    {% for tag in all_tags %}
                        <li><label>
                            <input type="checkbox" name="tag-{{ tag.id }}" {% if tag.id in tag_ids %}checked{% endif %}>{{ tag.title }}
                        </label></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>

</form>

<h2>Save Changes</h2>

<textarea id="raw_data_out" readonly="readonly"></textarea>

<a href="#" onclick="copy(); return false;"><button type="button" class="btn btn-primary">Copy Data</button></a>

{% if site_config.has_github %}
    <p>Go to the Github page to edit <em>{{  event.git_filename }}</em> and copy and paste in the content above.</p>
    <p>
        <a href="https://github.com/{{ site_config.get_github_url() }}/edit/{{ site_config.get_github_default_branch() }}/{{  event.git_filename }}" target="_new"><button type="button" class="btn btn-primary">Edit on GitHub</button></a>
    </p>
{% else %}
    <p>In the git repository, edit <em>{{  event.git_filename }}</em> and copy and paste in the content above.</p>
{% endif %}

{% endblock %}


{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.0.0/js-yaml.min.js" integrity="sha512-dYHhQSvQ3Lepc2xDidh80aADfrIAaVTs52W5JSFlE47SJgcwD+YY+iY0XmXD9UX3k0YOPvoyugS/ieGjpu5M/Q==" crossorigin="anonymous"></script>
<script>
    function editFormChanged() {
        var data = {
            'title': $('form#edit-form input[name="title"]').val(),
            'description': $('form#edit-form textarea[name="description"]').val(),
            'url': $('form#edit-form input[name="url"]').val(),
            'tags': [],
            'cancelled': $('form#edit-form input[name="cancelled"]').is(':checked'),
            'deleted': $('form#edit-form input[name="deleted"]').is(':checked'),
            'start':  $('form#edit-form input[name="start-date"]').val() + ' ' + $('form#edit-form select[name="start-time-hour"]').val() + ':' + $('form#edit-form select[name="start-time-minute"]').val(),
            'end':  $('form#edit-form input[name="end-date"]').val() + ' ' + $('form#edit-form select[name="end-time-hour"]').val() + ':' + $('form#edit-form select[name="end-time-minute"]').val()
        };
        {% for tag in all_tags %}
        if ($('form#edit-form input[name="tag-{{ tag.id }}"]').is(':checked')) { data['tags'].push('{{ tag.id }}'); }
        {% endfor %}
        $('#raw_data_out').val(jsyaml.dump(data,{'sortKeys':true,'forceQuotes':true}));
    }
    $( document ).ready(function() {
        $('form#edit-form input, form#edit-form textarea, form#edit-form select').change(editFormChanged);
        editFormChanged();
    });
    function copy() {
        editFormChanged();
        document.getElementById('raw_data_out').select();
        copied = document.execCommand('copy');
        // TODO show user feedback if copied worked/failed
    };
</script>
{% endblock %}