{% extends "base.html" %}

{% block title %}Event {{ event.title }}{% endblock %}


{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/event/">Events</a></li>
        <li class="breadcrumb-item active" aria-current="page">Event</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

<h2>Event</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <td>{{ event.id }}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{ event.title }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td style="white-space: pre-line;">{{ event.description|urlize(40, true) }}</td>
    </tr>
    <tr>
        <th>URL</th>
        <td><a href="{{ event.url }}">{{ event.url }}</a></td>
    </tr>
    <tr>
        <th>Start</th>
        <td>{{ event.get_start_strftime() }}</td>
    </tr>

</table>

<h3>Tags</h3>


<table class="table">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>&nbsp;</th>
    </tr>
    {% for tag in tags %}
        <tr>
            <td>{{ tag.id }}</td>
            <td>{{ tag.title }}</td>
            <td><a href="/tag/{{ tag.id }}/"><button type="button" class="btn btn-link">View</button></a></td>
        </tr>
    {% endfor %}
</table>

<a href="/event/{{ event.id }}/edit.html"><button type="button" class="btn btn-primary">Edit</button></a>
<a href="/event/{{ event.id }}/event.json"><button type="button" class="btn btn-primary">As JSON</button></a>


{% endblock %}

